<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Проекти</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<!-- Top menu -->
<div th:replace="fragments/menu.html :: top-menu"/>

    <div class="w3-container w3-margin">
        <div class="w3-card">

            <!-- Header -->
            <div class="w3-container w3-blue">
                <h3>Парсер сайтів</h3>
            </div>

            <div style="height: 24px;"></div>

            <div class="w3-container">
                <p>
                    На цьому сайті ви можете парсити та аналізувати інформацію з інших сайтів.
                     Натисніть на кнопку Проекти, авторизуйтесь, та починайте роботу
                </p>
            </div>

            <div class="w3-container w3-margin-top">
                <a href="/projects" class="w3-button w3-blue w3-right">Проекти</a>
            </div>

            <div style="height: 24px;"></div>
        </div>
    </div>

</body>
</html>