<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Перша сторінка</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <div class="w3-container w3-margin">
        <div class="w3-card">

            <!-- Header -->
            <div class="w3-container w3-blue">
                <h3>Проекти</h3>
            </div>

            <div style="height: 24px;"></div>

            <div th:each="project : ${projects}" class="w3-container">
                <div class="w3-container w3-light-blue">
                    <h3 th:text="${project.domain}">Назва проекту</h3>
                </div>

                <div class="w3-container w3-light-gray">
                    <ul class="w3-ul">
                        <li th:text="'Кількість сторінок: ' + ${project.pages.size()}">Кількість сторінок: 100</li>
                        <li th:with="parsingState=${project.parsingEnabled} ? 'запущений' : 'зупинений'" th:text="'Стан парсингу: ' + ${parsingState}">Стан парсингу: запущений</li>
                    </ul>
                </div>
            </div>

            <div style="height: 24px;"></div>
        </div>
    </div>

</body>
</html>