<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Реєстрація</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey">

<div class="w3-container w3-red" th:if="${error}">
    <h3 th:text="${error}">Помилка</h3>
</div>

<div class="w3-container">
    <div class="w3-card w3-white" style="width: 600px; margin: auto">
        <div class="w3-container w3-blue"><h3>Реєстрація</h3></div>
        <div class="w3-panel w3-padding-16">
            <form th:action="@{/register}" method="post">
                <div><label> Email : <input placeholder="Введіть ваш логін" class="w3-input w3-border w3-margin-bottom" type="text" name="email"/> </label></div>
                <div><label> Пароль: <input placeholder="Введіть ваш пароль" class="w3-input w3-border w3-margin-bottom" type="password" name="password"/> </label></div>
                <div><label> Ім'я : <input placeholder="Введіть ваш логін" class="w3-input w3-border w3-margin-bottom" type="text" name="name"/> </label></div>
                <div><label> Прізвище : <input placeholder="Введіть ваш логін" class="w3-input w3-border w3-margin-bottom" type="text" name="lastName"/> </label></div>
                <div><input class="w3-button w3-blue w3-right" type="submit" value="Реєстрація"/></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>